<a href="https://colab.research.google.com/github/dohaalnabahin/Python-Learning-Journey/blob/main/Assignment_(funcation).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Countdown - Create a function that accepts a number as an input. Return a new list that counts down by one, from the number (as the 0th element) down to 0 (as the last element).


Example: countdown(5) should return the list: [5,4,3,2,1,0]

In [ ]:
def countdown(num):
    return list(range(num, -1, -1))
print(countdown(5))

[5, 4, 3, 2, 1, 0]

Print and Return (Optional) - Create a function that will receive a list with two numbers. Print the first value and return the second.

Example: print_and_return([1,2]) should print 1 and return 2

In [ ]:
def print_and_return(number):
  print(number[0])
  print(number[1])
result = print_and_return([10, 20])

10
20

First Plus Length (Optional) - Create a function that accepts a list and returns the sum of the first value in the list plus the list's length.

Example: first_plus_length([1,2,3,4,5]) should return 6 (first value: 1 + length: 5)

In [ ]:
def first_plus_length(list_num):
    index = list_num[0]
    length = len(list_num)
    return index + length    #جمعت الطول واول قيمة
result = first_plus_length([1, 2, 3, 4, 5])
print(result)

6

This Length, That Value (Optional) - Write a function that accepts two integers as parameters: size and value. The function should create and return a list whose length is equal to the given size, and whose values are all the given value.


Example: length_and_value(4,7) should return [7,7,7,7]


Example: length_and_value(6,2) should return [2,2,2,2,2,2]

In [ ]:
def length_and_value(size, value):
    new_list = []
    for i in range(size):
        new_list.append(value)
    return new_list
print(length_and_value(4, 7))

[7, 7, 7, 7]

Required: Write a function that takes a list of numbers, adds the first number to the last number in the list, and if the list contains only one number, adds that number to itself.

In [ ]:
def sum_first_and_last(my_list):
    num1 = my_list[0]
    num2 = my_list[-1]
    return num1 + num2
cool_numbers = [5, 10, 15]
result = sum_first_and_last(cool_numbers)
print(result)

20

Write a function that takes a list, sets the value of the first element to equal the length of the list, and then returns the entire list.

In [ ]:
def swap_first_with_length(my_list):
      length = len(my_list)
      first = my_list[0]
      my_list[0] = length
      return my_list
      cool_numbers = [5, 10, 15]
result = swap_first_with_length(cool_numbers)
print(result)

[3, 10, 15]

Write a function that takes a list containing at least two numbers. If the first number is greater than the second, print "True"; if the opposite is true, print "False". In both cases, the function must return the value of the second number.

In [ ]:
def greater_than_second(my_list):
    if my_list[0] > my_list[1]:
        print("True")
    else:
        print("False")
    return my_list[1]
cool_numbers = [10, 15]
result = greater_than_second(cool_numbers)
print("Returned value:", result)

False
Returned value: 15

Write a function that takes a list of numbers and searches for the number 7 in only the first two positions (positions 0 and 1).

If the number 7 is found at the beginning, return the statement "Found it".

If it is not found in the first two positions, return the statement "Not in the front".

In [ ]:
def Find_the_Lucky7(my_list):
    if my_list[0] == 7:
        return "Found it"
    elif my_list[1] == 7:
        return "Found it"
    else:
        return "Not in the front"
cool_numbers = [1, 7, 15]
result = Find_the_Lucky7(cool_numbers)
print(result)

Found it

Write a function that takes the price and does the following:

If the price is greater than 100, print the message: "You get a discount!"

Finally, the function should return the final price after adding a fixed tax of 5 dinars.

In [ ]:
def Tax_and_Discount(price):
    if price > 100:
        print("You get a discount!")
    final_price = price + 5
    return final_price

coolprice = 180
result = Tax_and_Discount(coolprice)
print("Final Price:", result)

You get a discount!
Final Price: 185

Required: Write a function that takes a list containing only two salaries:

If the first salary is less than 500, print: "Need a bonus!"

In all cases, the function must return the total of the two salaries after adding 50 dinars to the total (as a fixed bonus).

In [ ]:
def Salary_Manager(My_list):
  if My_list[0] < 500 :
    print("Need a bonus!")

  total = My_list[0] + My_list[1] + 50

  return total

  cool_numbers = [400,700]
result = Salary_Manager(cool_numbers)
print(result)

Need a bonus!
1150

Required: Write a function that takes a list containing only two numbers:

If the first number is equal to the second number, print: "They are twins!"

If they are different, swap the positions of the two numbers (i.e., the first becomes the second, and the second becomes the first).

Finally, return the list in its final form.

In [ ]:
def Smart_Swap(My_list):
  if My_list[0]==My_list[1]:
    print("They are twins!")
  else :
   temp = My_list[0]
  My_list[0] =My_list[1]
  My_list[1] =temp

  return My_list

cool_numbers = [7,6]
result = Smart_Swap(cool_numbers)
print(result)

[6, 7]

Required: Write a function that takes a list of 3 numbers:

If the last number in the list is greater than 100, print: "Big ending!".

In any case, increment the value of the first number in the list by 10.

Finally, return the entire list.

In [ ]:
def Conditional_Increment(My_list):
    if My_list[2] > 100:
        print("Big ending!")

    My_list[0] = My_list[0] + 10

    return My_list

cool_numbers = [5, 50, 150]
result = Conditional_Increment(cool_numbers)
print(result)

Big ending!
[15, 50, 150]

The Pro Player Challenge
To be completed: Write a function that takes a list of 3 numbers (representing a player's scores in 3 games):

If the total score is greater than 200, print: "Legendary Player!"

If the second number in the list is 100 (meaning they scored a perfect score), print: "Perfect Game 2!"

Finally, return the total score.

In [ ]:
def The_Pro_Player(My_list):
    total = My_list[0] + My_list[1] + My_list[2]

    if total > 200:
        print("Legendary Player!")

    if My_list[1] == 100:
        print("Perfect Game 2!")

    return total


cool_numbers = [50, 100, 70]
result = The_Pro_Player(cool_numbers)
print("Total Score:", result)

Legendary Player!
Perfect Game 2!
Total Score: 220

Simple Currency Converter Challenge

Required: Write a function that takes an amount and a currency name, and converts it to Jordanian Dinars based on the selected currency:

If the currency is USD (US Dollar), multiply the amount by 0.70.

If the currency is EUR (Euro), multiply the amount by 0.80.

If it's any other currency, print "Currency not supported" and return the original amount.

In [ ]:
def convert(amount, currency):
    if currency == "USD":
        result = amount * 0.70
        print("Converted to USD:", result)
        return result

    elif currency == "EUR":
        result = amount * 0.80
        print("Converted to EUR:", result)
        return result

    else:
        print("Currency not supported for:", amount)
        return amount

final_total = convert(100, "USD")
print("Final Result in JD:", final_total)

Converted to USD: 70.0
Final Result in JD: 70.0

Secret Access System Challenge
Required: Write a function that takes two inputs: (username) and (password):

If the username is "admin" and the password is "1234":

Print: "Access Granted! Welcome Boss."

Return: True.

If the username is "admin" but the password is incorrect:

Print: "Wrong Password!"

Return: False.

In any other case (different username):

Print: "Unknown User."

Return: False.

In [ ]:
def Secret_Access_System(username , password):
  username = username.lower()
  username = username.strip()
  if    username == "admin" and password =="1234":
        print("Access Granted! Welcome Boss")
        return True

  elif username == "admin" and password != "1234":
       print("Wrong Password!")
       return False

  else : username != "admin" and password !="1234"
  print("Unknown User")


final_total = Secret_Access_System("Admin", "1234")
print("Acsess", final_total)

Access Granted! Welcome Boss
Acsess True

The Star Coach Challenge
Impose: Imagine you have a list containing (a player's name and their number of goals). Write a function that takes this list:

If the number of goals is greater than 5, print: "[Name] is a Professional!"

If the number of goals is between 1 and 5, print: "[Name] is a Beginner!"

If it is zero, print: "[Name] needs more training!"

Finally, return only the number of goals.

In [ ]:
def Star_Coach(player_data):
  name = player_data[0]
  goals = player_data[1]

  if goals > 5 :
    print(name , "is a Professional!")

  elif goals >= 1 :
       print(name , "is a Professional!")

  else :
     goals == 0
     print(name , "needs more training!")


  return goals



final_total = Star_Coach(["Messi", 10])
print("Goals scored:", final_total)

Messi is a Professional!
Goals scored: 10

The Employee Bonus Challenge
Required: Write a function that takes a list containing (Employee Name, Current Salary):

If the salary is less than 500, increase it by 100 (bonus) and print: "Bonus added for [Name]".

If the salary is 500 or more, leave it as is and print: "No bonus for [Name]".

Finally, return the complete list with the new salary (if adjusted).

In [ ]:
def The_bonus_Challenge(Employee):
  name = Employee[0]
  salary = Employee[1]


  if salary < 500 :
    Employee[1] = Employee[1] +100
    print(name , "Bonus added for")

  else :
       salary >= 500
       print(name , "No bonus for ")


  return Employee


updated_info = The_bonus_Challenge(["Doha", 400])
print("Final List:", updated_info)

Doha Bonus added for
Final List: ['Doha', 500]