<a href="https://colab.research.google.com/github/dohaalnabahin/Data_science_and_machine_learning_Journey/blob/main/clear_example_of_set_index.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# import numpy
import numpy as np

names_list = ['brownie','cookie','cake', 'cupcake']
prices_list = [2.25,1.25,9.5, 3.5]
quantities_sold_list = [17, 40, 1, 10]

prices_array = np.array(prices_list)
quantities_sold_array = np.array(quantities_sold_list)

prices_array * quantities_sold_array

df = pd.DataFrame({'Name':names_list,
                   'Price':prices_list,
                   "Quantity Sold": quantities_sold_list})


df.columns

df.values

df.index # يخزن معادلة بدل اؤقام


 #   يعرض فقط الجدول انو غير الاندكس من ارقام لاسماء الاعمدة يعني لو رجعنا طبعنا الجدول الاصلي ما هغير الاندكس من ارقام لاسماء الاعمدة
df.set_index("Name")

 # هنا هيتم التغيير على الجدول الاصلي يعني لو طبعا الجدول الاصلي هيطبع بدل الاندكس اسماء الاعمدة
df = df.set_index("Name")

# هنا غير الناتج من معادلة لاسماء الاعمدة صارو هما الاندكس
df.index

Index(['brownie', 'cookie', 'cake', 'cupcake'], dtype='object', name='Name')

In [ ]:
# select one column usig single square brackets
df['Price']

Name
brownie    2.25
cookie     1.25
cake       9.50
cupcake    3.50
Name: Price, dtype: float64

In [ ]:
# save the column as a new variable
sliced = df['Price']
sliced

Name
brownie    2.25
cookie     1.25
cake       9.50
cupcake    3.50
Name: Price, dtype: float64

In [ ]:
# This is a pandas series
type(sliced)

pandas.core.series.Series

In [ ]:
# Select one column using double brackets returns a DataFrame
df_slice = df[['Price']]
df_slice

         Price
Name
brownie   2.25
cookie    1.25
cake      9.50
cupcake   3.50

In [ ]:
# This is a pandas DataFrame
type(df_slice)

pandas.core.frame.DataFrame

In [ ]:
# Select multiple columns using double brackets
df[['Quantity Sold', 'Price']]

         Quantity Sold  Price
Name
brownie             17   2.25
cookie              40   1.25
cake                 1   9.50
cupcake             10   3.50

In [ ]:
# Slicing columns using a variable
cols_to_slice = ['Quantity Sold', 'Price']
df[cols_to_slice]

         Quantity Sold  Price
Name
brownie             17   2.25
cookie              40   1.25
cake                 1   9.50
cupcake             10   3.50

In [ ]:
# Find the shape of the dataframe
df.shape

(4, 2)

In [ ]:
# Find the shape of the series
sliced.shape

(4,)

In [ ]:
# Series have a .name attribute
sliced.name

'Price'

In [ ]:
# Elementwise calculations with Pandas
sales = df['Price'] * df['Quantity Sold']
sales

Name
brownie    38.25
cookie     50.00
cake        9.50
cupcake    35.00
dtype: float64

In [ ]:
# Check dataype of result
type(sales)

pandas.core.series.Series

In [ ]:
# saving sales as a new column
df['Sales'] = df['Price'] * df["Quantity Sold"]
df

         Price  Quantity Sold  Sales
Name
brownie   2.25             17  38.25
cookie    1.25             40  50.00
cake      9.50              1   9.50
cupcake   3.50             10  35.00

In [ ]:
# Get the sum of the Sales column
df['Sales'].sum()

np.float64(132.75)

In [ ]:
# Making a series from a dictionary
expenses = pd.Series({'brownie':0.25, 'cookie':0.5, 'cake':5, 'cupcake': 0.75},
                     name='Expenses')
expenses

brownie    0.25
cookie     0.50
cake       5.00
cupcake    0.75
Name: Expenses, dtype: float64

In [ ]:
# saving our combined data as df
df = pd.concat([df, expenses], axis=1)
df

         Price  Quantity Sold  Sales  Expenses
brownie   2.25             17  38.25      0.25
cookie    1.25             40  50.00      0.50
cake      9.50              1   9.50      5.00
cupcake   3.50             10  35.00      0.75

In [ ]:
# Calculate profit and define it as new column
df['Profit Per Item'] = df['Price'] - df['Expenses']
df

         Price  Quantity Sold  Sales  Expenses  Profit Per Item
brownie   2.25             17  38.25      0.25             2.00
cookie    1.25             40  50.00      0.50             0.75
cake      9.50              1   9.50      5.00             4.50
cupcake   3.50             10  35.00      0.75             2.75

In [ ]:
# Calculate the profit per type of baked good and define as a column
df["Profits"] = df['Profit Per Item'] * df['Quantity Sold']
df

         Price  Quantity Sold  Sales  Expenses  Profit Per Item  Profits
brownie   2.25             17  38.25      0.25             2.00     34.0
cookie    1.25             40  50.00      0.50             0.75     30.0
cake      9.50              1   9.50      5.00             4.50      4.5
cupcake   3.50             10  35.00      0.75             2.75     27.5

In [ ]:
# Find total profit
total_profit = df['Profits'].sum()
total_profit

np.float64(96.0)

In [ ]:
# What percentage of the goal has been reached?
total_profit/1000

np.float64(0.096)