<a href="https://colab.research.google.com/github/dohaalnabahin/Python-Learning-Journey/blob/main/Declaring_Variables_and_Primitive_Data_Types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# round to keep 2 places after the decimal
round(10/3, 2)

3.33

In [ ]:
# We will define a bool
12 == (3*4)

True

In [ ]:
# We will define a bool
12 == (7*8)

False

In [ ]:
# Demo line breaks
print("I\nlove\ncoding!")

I
love
coding!

In [ ]:
# check the data type
type(6)

int

In [ ]:
# check the data type
type('Welcome to AXSOS ACADEMY')

str

In [ ]:
# check the type
print(6*.5)
type(6*.5)

3.0

int

In [ ]:
# check the type
type(9/3)

float

In [3]:

a = 9
b = 14
Max_value= max(a,b)
difference = b-a
print(Max_value)
print(difference)

14
5

In [4]:
# Does .upper() return a value or change a value in place?
message = 'hello'
caps = message.upper()
print(message)
print(caps)

hello
HELLO

In [8]:
# How to overwrite an immutable object
message = 'hello'
mdoha = message.upper()
print(mdoha)

HELLO

In [9]:
message = "hello"

# هنا بايثون صنعت كلمة "HELLO" في مكان جديد في الذاكرة
# لكن message لسه بتأشر على "hello" الصغيرة!
message.upper()
print(message) # رح تطبع: hello (لأنها immutable)

# عشان تغيريها فعلياً، لازم تعملي Overwrite:
message = message.upper()
print(message) # رح تطبع: HELLO

hello
HELLO

In [10]:
# Use an f-string to insert variable values
regular_price = 300
sale = .2
sale_price = (1-sale)*regular_price
statement = f'The orignal cost was ${regular_price}, but I purchased it on sale for ${sale_price}.'
print(statement)

The orignal cost was $300, but I purchased it on sale for $240.0.

In [12]:
# Create a list object declared as the variable grocery
grocery = ['eggs', 'milk']
print(grocery)
# add "cheese" to our list. Does this change the object in place?
grocery.append('cheese')
print(grocery)

['eggs', 'milk']
['eggs', 'milk', 'cheese']

In [16]:
# Define the variables
regular_price = 300
sale = .2
sale_price = (1-sale)*regular_price
# Check the data type of regular_price
type(regular_price)
# Check the data type of sale
type(sale)
type(sale_price)

float

In [20]:
# Declare a whole number value (it will default to data type int)
amount = 6
type(amount)
# Recast the amount variable as a float
amount = int(amount)
type(amount)

int

In [25]:
# Declare a decimal value (it will default to data type float)
value = 23.85
our_values = int(value)
type(our_values)
type(value)
print(our_values)

23

In [26]:
# Declare a decimal value (it will default to data type float)
value = 23.85
our_values = round(value)
print(our_values)

24