<a href="https://colab.research.google.com/github/dohaalnabahin/Python-Learning-Journey/blob/main/For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
 #define the list to be iterated on
X = [1, 2, 3, 4, 5,]
# write a for loop
for i in X:
  double_number = i*2
  print(double_number)
print(X)

2
4
6
8
10
[1, 2, 3, 4, 5]

In [6]:
# create an empty list to store the new values
X_double = []   # create list
for number in X:
  double_number = number*2 #transformation
  X_double.append(double_number) #append
  # print the new list
print(X_double)

[2, 4, 6, 8, 10]

In [11]:
celsius = [0, 10, 20, 30]
fahrenheit =[]
for i in celsius :
  resualt = i * 1.8 + 32
  fahrenheit.append(resualt)
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0]

In [20]:
#example of Looping through a List
temps_f = [ 65, 60, 55, 72, 67, 84]
temps_c = []
for f in temps_f :
  Celsius =  round((f - 32) * (5/9) ,2)
  temps_c.append(Celsius)
print(temps_c)

[18.33, 15.56, 12.78, 22.22, 19.44, 28.89]

In [25]:
# Example of Looping through a Dictionary

# Run this cell to create a dictionary with room type and standard rate
standard_dict = {'Basic': 100,
              'Deluxe': 125,
            'Balcony' : 200,
              'Luxury' : 250}
for room_type,price in standard_dict.items() :
  print(f'{room_type} rooms are available for only ${price} a night.')

Basic rooms are available for only $100 a night.
Deluxe rooms are available for only $125 a night.
Balcony rooms are available for only $200 a night.
Luxury rooms are available for only $250 a night.

In [28]:
# For Loops to Append Items to a Dictionary
standard_dict = {'Basic': 100,'Deluxe': 125,'Balcony' : 200,'Luxury' : 250}
holiday_dict= {}
for room_type,price in standard_dict.items() :
  resulat =  price * 1.3
  holiday_dict[room_type] = resulat
print(holiday_dict)

{'Basic': 130.0, 'Deluxe': 162.5, 'Balcony': 260.0, 'Luxury': 325.0}