<a href="https://colab.research.google.com/github/dohaalnabahin/Data_science_and_machine_learning_Journey/blob/main/Pandas_Groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
# This filepath will work if you saved your file in the recommend folder structure
fname = "/content/drive/MyDrive/AXSOSACADEMY/01-Fundamentals/Week02/Data/Our Bake Sale [Loading Data Vers] - Day 4 Sales.csv"
df = pd.read_csv(fname)
df.head()

,Item,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
0,brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25
1,cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38
2,cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0
3,cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12
4,fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22

In [3]:
# Get the unique values and their count for the Student column
df["Student"].value_counts()

Student
Martina    3
Hugo       2
Sally      2
Jade       2
Joe        1
Mark       1
Anne       1
Name: count, dtype: int64

In [4]:
# Use normalize = True to output a ratio
df["Student"].value_counts(normalize=True)

Student
Martina    0.250000
Hugo       0.166667
Sally      0.166667
Jade       0.166667
Joe        0.083333
Mark       0.083333
Anne       0.083333
Name: proportion, dtype: float64

In [5]:
# select quantity columns using .str.contains
columns = df.columns
filter_quantity_cols = columns[columns.str.contains('Quantity')]
filter_quantity_cols

Index(['Quantity Sold (Day 1)', 'Quantity Sold (Day 2)',
       'Quantity Sold (Day 3)', 'Quantity Sold (Day 4)'],
      dtype='object')

In [10]:
df=df.set_index('Item')

In [11]:
# Use the filter_quantity_cols index to limit the dataframe to Quantity columns
df[filter_quantity_cols]

,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4)
Item,,,,
brownie,17,19,25,25
cookie,40,32,38,38
cake,1,2,0,0
cupcake,10,14,12,12
fudge,0,20,22,22
banana bread,0,10,13,13
torte,0,5,7,7
scone,0,8,10,10
muffin,0,3,4,4
rice krispies treats,0,0,10,30
apple pie,0,0,2,3
key lime pie,0,0,3,3

In [12]:
# Obtain the sum of the values in each column
df[filter_quantity_cols].sum()

Quantity Sold (Day 1)     68
Quantity Sold (Day 2)    113
Quantity Sold (Day 3)    146
Quantity Sold (Day 4)    167
dtype: int64

In [13]:
# Obtain the sum across rows
df[filter_quantity_cols].sum(axis=1)

Item
brownie                  86
cookie                  148
cake                      3
cupcake                  48
fudge                    64
banana bread             36
torte                    19
scone                    28
muffin                   11
rice krispies treats     40
apple pie                 5
key lime pie              6
dtype: int64

In [14]:
# Add a column to include the cumulative quantity
df['Cumulative Quantity (Day 4)'] = df[filter_quantity_cols].sum(axis=1)
df.head()

,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4),Cumulative Quantity (Day 4)
Item,,,,,,,,,
brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25,86
cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38,148
cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0,3
cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12,48
fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22,64

In [15]:
# Sort the cumulative values from high to low
df['Cumulative Quantity (Day 4)'].sort_values(ascending=False)

Item
cookie                  148
brownie                  86
fudge                    64
cupcake                  48
rice krispies treats     40
banana bread             36
scone                    28
torte                    19
muffin                   11
key lime pie              6
apple pie                 5
cake                      3
Name: Cumulative Quantity (Day 4), dtype: int64

In [17]:
df['Profit per Item'] = df['Price'] - df['Expense']

df.head()

,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4),Cumulative Quantity (Day 4),Profit per Item
Item,,,,,,,,,,
brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25,86,2.00
cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38,148,0.75
cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0,3,4.50
cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12,48,2.75
fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22,64,2.00

In [18]:
# Multiply two cumulative quantity by profit per item to get cumulative profit
df['Cumulative Profit (Day 4)'] = df['Cumulative Quantity (Day 4)']  * df['Profit per Item']
df.head()

,Student,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4),Cumulative Quantity (Day 4),Profit per Item,Cumulative Profit (Day 4)
Item,,,,,,,,,,,
brownie,Hugo,Individually Wrapped (Plastic),2.25,0.25,17,19,25,25,86,2.00,172.0
cookie,Sally,Individually Wrapped (Plastic),1.25,0.50,40,32,38,38,148,0.75,111.0
cake,Martina,Boxed (Clear Plastic),9.50,5.00,1,2,0,0,3,4.50,13.5
cupcake,Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12,48,2.75,132.0
fudge,Hugo,Individually Wrapped (Foil),3.00,1.00,0,20,22,22,64,2.00,128.0

In [19]:
# Sort to find the most profitable item
df['Cumulative Profit (Day 4)'].sort_values(ascending=False)

Item
brownie                 172.00
cupcake                 132.00
fudge                   128.00
cookie                  111.00
torte                    95.00
banana bread             81.00
rice krispies treats     40.00
key lime pie             30.00
apple pie                30.00
scone                    21.00
cake                     13.50
muffin                    8.25
Name: Cumulative Profit (Day 4), dtype: float64

In [20]:
# groupby needs an aggregation functon
student_sums = df.groupby("Student").sum()
student_sums

,Packaging,Price,Expense,Quantity Sold (Day 1),Quantity Sold (Day 2),Quantity Sold (Day 3),Quantity Sold (Day 4),Cumulative Quantity (Day 4),Profit per Item,Cumulative Profit (Day 4)
Student,,,,,,,,,,
Anne,Individually Wrapped (Foil),1.50,0.75,0,3,4,4,11,0.75,8.25
Hugo,Individually Wrapped (Plastic)Individually Wr...,5.25,1.25,17,39,47,47,150,4.00,300.00
Jade,Boxed (Clear Plastic)Individually Wrapped (Pl...,12.50,6.75,0,13,17,17,47,5.75,116.00
Joe,Boxed (Cardboard),3.50,0.75,10,14,12,12,48,2.75,132.00
Mark,Individually Wrapped (Foil),2.75,0.50,0,10,13,13,36,2.25,81.00
Martina,Boxed (Clear Plastic)Individually Wrapped (Pl...,20.25,9.75,1,2,13,33,49,10.50,83.50
Sally,Individually Wrapped (Plastic)Box (Cardboard),11.25,4.50,40,32,40,41,153,6.75,141.00

In [23]:
# Obtain the cumulative profit per student
quantity_by_student = df.groupby('Student')['Cumulative Quantity (Day 4)'].sum()
# Sort from highest to lowest profit
quantity_by_student.sort_values(ascending=False)

Student
Sally      153
Hugo       150
Martina     49
Joe         48
Jade        47
Mark        36
Anne        11
Name: Cumulative Quantity (Day 4), dtype: int64

In [24]:
# Obtain cumulative profit grouped by student
profit_by_student = df.groupby('Student')['Cumulative Profit (Day 4)'].sum()
# Sort from highest to lowest
profit_by_student.sort_values(ascending=False)

Student
Hugo       300.00
Sally      141.00
Joe        132.00
Jade       116.00
Martina     83.50
Mark        81.00
Anne         8.25
Name: Cumulative Profit (Day 4), dtype: float64

In [25]:
# Total Profit for the club
total_profit = df['Cumulative Profit (Day 4)'].sum()
total_profit

np.float64(861.75)

In [26]:
# How much more money do they need to earn?
1000-total_profit

np.float64(138.25)