<a href="https://colab.research.google.com/github/dohaalnabahin/Python-Learning-Journey/blob/main/Python_Basics_DataTypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 # strings
 Python recognizes a string :
 - A string can be any sequence of characters.
 - must be placed in quotes.
 - single or double quotes. (' or "), but you must be consistent for example:
 "Hello World" or 'Hello World'
 - "Hello World' or 'Hello World" would cause an error

In [2]:
# 1. TASK: print "Hello World"

print("Hello World")

Hello World

In [15]:
# 2. print "Hello Noelle!" with the name in a variable

name="Noelle"
print("Hello",name)

Hello Noelle

In [ ]:
# 3. Fill in your name for the variable

my_name="Doha"
print(my_name)

In [14]:
# 4. print "I love to eat sushi and pizza." with the foods in variables

fave_food1="sushi"
fave_food2="pizza"
print("I love"+ " " +fave_food1 + " "+"and"+" "+fave_food2)

#How to merge string

#F-Strings (الأفضل): استخدام f قبل النص ووضع المتغيرات داخل {}. تمتاز بالسرعة والوضوح.

print(f"I love {fave_food1} and {fave_food2}")

#الفاصلة (Comma): وضع , بين النصوص والمتغيرات. تضيف بايثون فراغاً تلقائياً بينها.

print("I love", fave_food1,"and", fave_food2)

#دالة .format(): وضع {} كأماكن محجوزة ثم تعبئتها بالترتيب في نهاية الجملة.

print("I love {} and {}".format(fave_food1, fave_food2))

#الجمع (+): ربط النصوص ببعضها يدوياً، ويجب إضافة " " يدوياً أيضاً لحدوث الفراغ.

print("I love " + fave_food1 +" "+"and" +" " + fave_food2)

I love sushi and pizza
I love sushi and pizza
I love sushi and pizza
I love sushi and pizza
I love sushi and pizza

#Primitive data types
##Strings - literal text

In [ ]:
name="Joe Blue"

## Boolean Values
Assesses the truth value of something. It has only two values: True and False (note the uppercase T and F)

In [ ]:
is_hungry=True
has_freckles =False

## Numbers
whole numbers (integers) as "ints"


decimal numbers as "floats"

In [18]:
#Floating Point
price = 19.99
weight = 72.5

#Integers - int
age = 25
goals = -3

#Complex Numbers
complex_num = 3 + 5j

<class 'int'>
<class 'float'>
<class 'complex'>

## Composite Types
These are collections composed of the above primitive types.

## Tuples
 - A type of data that is immutable (can't be modified after its creation)  غير قابل للتعديل

 - can hold a group of values tuples can contain mixed data types.

In [21]:
# تعريف الـ Tuple
dog = ('Bruce', 'cocker spaniel', 19, False)

# طباعة العنصر الأول
print(dog[0])
print(dog[1])
print(dog[2])
print(dog[3])



# ملاحظة:
#السطر التالي سيسبب خطأ إذا قمتِ بتشغيله لأنه لا يمكن تعديل الـ Tuple
# dog[1] = 'dachshund'

Bruce
cocker spaniel
19
False

#  List
- A type of data that is mutable قابلة للتعديل
- can hold a group of values
- Usually meant to store a collection of related data.

In [ ]:
empty_list = []
ninjas = ['Rozen', 'KB', 'Oliver']

print(ninjas[2])
# output: Oliver

# تعديل العنصر الأول من Rozen إلى Francis
ninjas[0] = 'Francis'
print(ninjas[0])

#إضافة اسم Michael إلى نهاية القائمة
ninjas.append('Michael')
print(ninjas)
# output: ['Francis', 'KB', 'Oliver', 'Michael']
# هيك بنقدر تحدد مكان اضافة ميشيل
ninjas.insert(0, 'Michael')

#حذف آخر عنصر من القائمة (Michael)
ninjas.pop()
print(ninjas)
# output: ['Francis', 'KB', 'Oliver']

#حذف العنصر الموجود في الموقع رقم 1 (KB)
ninjas.pop(1)
print(ninjas)
# output: ['Francis', 'Oliver']
# عند تحديد الاندكس للبوب يقوم بحذفو اذا لم يحدد يقوم بحذف اخر عنصر

# Dictionaries
- A group of key-value pairs
- Dictionary elements are indexed by unique keys which are used to access values
-  في بايثون يشبه القاموس الحقيقي أو "دفتر العناوين". بدلاً من الوصول للعناصر عبر الأرقام ($0, 1, 2$), نصل إليها عبر أسماء (Unique Keys)

In [24]:
empty_dict = {}
new_person = {'name': 'John', 'age': 38, 'weight': 160.2, 'has_glasses': False}
#new_person: هو اسم المتغير (Variable Name)
#{ }: الأقواس المتعرجة هي التي تُخبر بايثون أن هذا "قاموس" وليس قائمة

#'name' , 'age' , 'weight' , 'has_glasses':
#تُسمى Keys (مفاتيح).
#وظيفتها: تعمل كعنوان للوصول للمعلومة.
#يجب أن تكون فريدة (Unique) ولا تتكرر

#'John' , 38 , 160.2 , False:
#تُسمى Values (قيم).
#هي المعلومات الفعلية المخزنة داخل العناوين.
#لاحظي أن القيم متنوعة الأنواع (String, Integer, Float, Boolean)

# updates if the key exists
new_person['name'] = 'Jack'

# adds a key-value pair if the key doesn't exist
new_person['hobbies'] = ['climbing', 'coding']

print(new_person)
# output: {'name': 'Jack', 'age': 38, 'weight': 160.2, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}

# removes the specified key and returns the value
w = new_person.pop('weight')
print(w)
# output: 160.2

print(new_person)
# output: {'name': 'Jack', 'age': 38, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}

{'name': 'Jack', 'age': 38, 'weight': 160.2, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}
160.2
{'name': 'Jack', 'age': 38, 'has_glasses': False, 'hobbies': ['climbing', 'coding']}

# Notes

كيف تتأكدين من نوع الرقم في الكود؟

In [ ]:
x = 10      # int
y = 10.5    # float
print(type(x))
print(type(y))
print(type(complex_num))

For data types that have a length attribute (eg. lists, dictionaries, tuples, strings), we can use the len function to get the length: للحصول على طول المصفوفة

In [23]:
# Returns the number of key-value pairs in the dictionary
print(len(new_person))
# output: 4

4

١. الطول
(Length):
يبدأ العد من 1. هو يخبرك "كم عنصراً موجوداً داخل الصندوق؟".

لو عندك 3 أشياء، الطول هو 3.

٢. الاندكس
(Index):
يبدأ العد من 0. هو يخبرك "ما هو عنوان (مكان) كل عنصر؟".

لو عندك 3 أشياء، أماكنهم هي: 0، 1، 2

In [ ]:
ninjas = ['Rozen', 'KB', 'Oliver']

# Length (كم واحد هم؟)
print(len(ninjas))
# Output: 3

# Index (أين مكان Oliver؟)
print(ninjas[2])
# Output: Oliver

# Type Casting or Explicit Type Conversion
بايثون "حساس" جداً؛ فلا يسمح لكِ بجمع نص (String) مع رقم
(Number)
مباشرة، لذلك يجب أن تقومي بتحويل أحدهما ليشبه الآخر
## str()  تحويل من رقم لنص

In [28]:
# This will cause an error because you cannot add a string and a number directly
# print("Hello" + 42)
# output: TypeError

# Using str() to cast the number into a string so they can be joined
print("Hello" + " " + str(42))
# output: Hello 42

Hello 42

receiving a string input from a user that we want to treat as a number:

## int() تحويل من نص لرقم

In [ ]:
total = 35
user_val = "26"

# This will cause an error because you cannot add an int to a string
# total = total + user_val
# output: TypeError

# Using int() to cast the string into an integer so they can be added
total = total + int(user_val)
print(total)
# total will be 61

#  String Literals
هي أي تسلسل من الأحرف (حروف، أرقام، رموز مثل ~($/}\#، إلخ) محصورة بين علامتي اقتباس مفردة أو مزدوجة

In [ ]:
print("this is a sample string")

#Concatenating Strings and Variables with the print function
- adding a comma
- adding a +

In [32]:
name = "Zen"

# Printing with a comma (Python automatically adds a space)
print("My name is", name)

#يمكن الجمع بين سلسلة نصية وعدد صحيح
print("My name is", 1)

# output: My name is Zen

name = "Zen"
# Printing using string concatenation (+)
print("My name is " + name)
#print("My name is " + 2)لايمكن الجمع بين سلسلة نصية وعدد صحيح

# output: My name is Zen

My name is Zen
My name is 1
My name is Zen

# String Interpolation

مكننا أيضاً إدخال متغيرات في سلاسلنا النصية، وهو ما يُعرف باسم استيفاء السلاسل النصية
## F-Strings (Literal String Interpolation)
لإنشاء سلسلة F، ضع الحرف f قبل علامة الاقتباس الافتتاحية مباشرةً. ثم ضع أي متغيرات داخل السلسلة بين قوسين معقوفين

## string.format()
استخدامها، اكتب النص كاملاً، واستبدل أي كلمات تستمد قيمها من متغيرات بـ {}. ثم استدعِ دالة التنسيق على النص، مع تمرير الوسائط بالترتيب الذي يجب أن تملأ به الفراغات بين {}

**Read from left to right**: يعني بايثون يقرأ النص من اليسار لليمين، وأول {} يراها يضع فيها أول قيمة موجودة داخل format().

**Same number of sets:** يعني لو وضعتِ {} مرتين في النص، يجب أن تمرري كلمتين (متغيرين) داخل format. لو كان هناك نقص أو زيادة، سيحدث خطأ

## %-formatting
بدلاً من الأقواس المعقوفة، يُستخدم رمز النسبة المئوية (%) للإشارة إلى عنصر نائب، %s للنص و%d للرقم. بعد النص، يفصل رمز النسبة المئوية (%) النص المراد دمجه عن القيم المراد إدراجها فيه،

In [33]:
#F-Strings (Literal String Interpolation)
first_name = "Zen"
last_name = "Coder"
age = 27
print(f"My name is {first_name} {last_name} and I am {age} years old.")

#************************************

#string.format()
first_name = "Zen"
last_name = "Coder"
age = 27
# Correct order
print("My name is {} {} and I am {} years old.".format(first_name, last_name, age))
# output: My name is Zen Coder and I am 27 years old.
# Wrong order (The method follows the order of arguments)
print("My name is {} {} and I am {} years old.".format(age, first_name, last_name))
# output: My name is 27 Zen and I am Coder years old.

#************************************

#%-formatting
hw = "Hello %s" % "world"      # %s is a placeholder for a string
py = "I love Python %d" % 3    # %d is a placeholder for a number (decimal)

print(hw, py)
# output: Hello world I love Python 3

name = "Zen"
age = 27
print("My name is %s and I'm %d" % (name, age))
# output: My name is Zen and I'm 27

My name is Zen Coder and I am 27 years old.
My name is Zen Coder and I am 27 years old.
My name is 27 Zen and I am Coder years old.
Hello world I love Python 3
My name is Zen and I'm 27

#Built-In String Methods
الطرق الأخرى التي يمكننا تطبيقها على سلسلة نصية

In [34]:
x = "hello world"

# Capitalizes the first letter of every word
print(x.title())

# output: "Hello World"

Hello World

In [39]:
# 1. upper(): تحول جميع الحروف إلى كبيرة
print("hello world".upper())
# output: HELLO WORLD

# 2. lower(): تحول جميع الحروف إلى صغيرة
print("Hello World".lower())
# output: hello world

# 3. count(substring): تحسب كم مرة تكرر حرف أو كلمة معينة
print("hello world".count("l"))
# output: 3 (حرف الـ l تكرر 3 مرات)

# 4. split(char): تقسم النص إلى قائمة (List) عند علامة معينة
print("hello world".split(" "))
# output: ['hello', 'world'] (قسمها عند المسافة)
sentence = "Python is amazing"
words = sentence.split(" ")
print(words)
# الناتج: ['Python', 'is', 'amazing']


users = "Doha,Sara,Noor"
users_list = users.split(",")
print(users_list)
# الناتج: ['Doha', 'Sara', 'Noor']

# split cnvert from string to list with "" , ","

# 5. find(substring): تعطيكِ مكان (Index) أول حرف من الكلمة التي تبحثين عنها
print("hello world".find("world"))
# output: 6 (كلمة world تبدأ من الاندكس 6)

# 6. isalnum(): هل النص يتكون من حروف وأرقام فقط (بدون مسافات أو رموز)؟
text1 = "Doha2026"
print(text1.isalnum()) # output: True

text2 = "Doha 2026!"
print(text2.isalnum()) # output: False (بسبب المسافة وعلامة التعجب)

# 7. isalpha(): هل النص حروف فقط؟
print("Python".isalpha()) # output: True

# 8. isdigit(): هل النص أرقام فقط؟
print("123".isdigit())    # output: True

HELLO WORLD
hello world
3
['hello', 'world']
6
True
False
True
True
['Python', 'is', 'amazing']
<class 'list'>
['Doha', 'Sara', 'Noor']
<class 'list'>