<a href="https://colab.research.google.com/github/dohaalnabahin/Data_science_and_machine_learning_Journey/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# create some sets
float_set = {3.14, 12.0, .0001}
random_set = {'pelican', 5, False, (1, 3.14, 42)}
print(float_set)
print(random_set)

{0.0001, 3.14, 12.0}
{False, 'pelican', 5, (1, 3.14, 42)}

In [2]:
# list with duplicates
num_list = [1,1,1,3,3]
print(f'The original list is: {num_list}.')

The original list is: [1, 1, 1, 3, 3].

In [3]:
# Convert num_list to a set
set_list = set(num_list)
print(f'After changing the list to a set, it looks like this: {set_list}.')

After changing the list to a set, it looks like this: {1, 3}.

In [4]:
# Add 2 to the set
set_list.add(2)
print(f'After adding 2, the set looks like {set_list}')
# Remove 1 from the set
set_list.remove(1)
print(f'After removing 1, the set contains {set_list}')

After adding 2, the set looks like {1, 2, 3}
After removing 1, the set contains {2, 3}

In [5]:
# use the in operator to check if a value is contained in the set
3 in set_list

True

In [6]:
# Check to see if 3 and 4 are in the set
three_in = 3 in set_list
four_in = 4 in set_list
print(f'The set currently looks like {set_list}')
print(f'It is {three_in} that 3 is in the set')
print(f'It is {four_in} that 4 is in the set')

The set currently looks like {2, 3}
It is True that 3 is in the set
It is False that 4 is in the set