<a href="https://colab.research.google.com/github/dohaalnabahin/Data_science_and_machine_learning_Journey/blob/main/slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
# Import needed libraries
import pandas as pd

# Mount google drive
from google.colab import drive
drive.mount('/content/drive')

# This filepath will work if you saved your file in the recommend folder structure
fname = "/content/drive/MyDrive/AXSOSACADEMY/01-Fundamentals/Week02/Data/Our Bake Sale [Loading Data Vers] - Day 4 Sales.csv"
df = pd.read_csv(fname)
df.head()


# Review: slicing 1 column
df["Item"] #series

# Review: slicing more than 1 column
df[["Item", "Student"]]   #DataFrame

# Slice the row with cake at index 2
df.loc[2]  # series
df.loc[[2]]   # dataframe

df = df.set_index("Item")
# df.head()

#  # Slice out the row with cake as the index
df.loc[['cake']]

# Slice multiple rows using a list
df.loc[['cake','brownie']]


# Slice the muffin row and Price column
print(df.loc["muffin",'Price'])

# Slice Price and Student for muffin
df.loc["muffin", ["Price","Student"]]

#What if we wanted the Price, Expense, and Baked By columns for muffins, scones, and banana bread?
df.loc[ ['muffin','scone','banana bread'], ['Price','Expense','Student']]


# Save lists of rows
rows_to_slice =  ['muffin','scone','banana bread']

# Save list of columns
cols_to_slice =  ['Price','Expense','Student']

# Use variables of lists to slice
df.loc[rows_to_slice, cols_to_slice]

# Selet all rows for the Price Column
df.loc[:, 'Price']


# Slice all rows for mulitple columns
df.loc[:, ["Price","Expense"]]

# Locate the Price of a torte and change the value
df.loc['torte',"Price"] = 11.5

df.loc[:, ["Price","Expense"]]

# Inspect torte
df.loc['torte']

















# # another example
# # This filepath will work if you saved your file in the recommend folder structure
# fname = "/content/drive/MyDrive/AXSOSACADEMY/01-Fundamentals/Week02/Data/Titanic-Dataset.csv"
# df = pd.read_csv(fname)
# df.head()
# # استخراج الصف رقم 2
# row_2 = df.loc[2]
# print(row_2)
# # تعيين الاسم كفهرس
# df_names = df.set_index("Name")
# # الآن لنبحث عن راكب معين بالاسم (بدل cake)
# passenger_info = df_names.loc['Heikkinen, Miss. Laina']
# print(passenger_info)
# # row_2 = df.loc[2]

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
1.5

Student                                   Jade
Packaging                Boxed (Clear Plastic)
Price                                     11.5
Expense                                    5.5
Quantity Sold (Day 1)                        0
Quantity Sold (Day 2)                        5
Quantity Sold (Day 3)                        7
Quantity Sold (Day 4)                        7
Name: torte, dtype: object