<a href="https://colab.research.google.com/github/dohaalnabahin/Data_science_and_machine_learning_Journey/blob/main/Titanic_Dataset_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#استيراد مكتبة Pandas واستخدام pd.read_csv(fname) لتحميل البيانات في DataFrame.
import pandas as pd
#تخزين مسار الملف في متغير باسم fname مع التأكد من وضعه بين علامات تنصيص.

fname = "/content/drive/MyDrive/AXSOSACADEMY/01-Fundamentals/Week02/Data/Titanic-Dataset.csv"
df = pd.read_csv(fname)

# استخدام df.head() لاستعراض أول 5 صفوف من البيانات.
df.head()

# # استخدام df.tail() لاستعراض آخر 5 صفوف من البيانات.
df.tail()

# #تنفيذ أمر df.info() للحصول على ملخص شامل عن الأعمدة وأنواع البيانات والقيم المفقودة.
df.info()

# #تجربة تحميل البيانات مباشرة من رابط (URL) باستخدام pd.read_csv.
df = pd.read_csv("/content/drive/MyDrive/AXSOSACADEMY/01-Fundamentals/Week02/Data/Titanic-Dataset.csv")

# #استخدام df.info() لتحديد رقم الفهرس (Index) الصحيح لإدراج عمود جديد.
# df.info()

# # إدراج عمود 'taxed_fare' في مكان محدد باستخدام df.insert()
# taxed_fare = df['Fare'] * 1.1
# df.insert(10, 'Fare_with_Tax', taxed_fare)# Verify the result

df.head()

# # تحديد مسار المجلد الوجهة في Google Drive ونسخه باستخدام "Copy path".
# Save file path to folder with new file name at the end
fname_out = "/content/drive/MyDrive/AXSOSACADEMY/01-Fundamentals/Week02/Data/Titanic-Dataset.csv"
df.to_csv(fname_out, index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PassengerId    891 non-null    int64
 1   Survived       891 non-null    int64
 2   Pclass         891 non-null    int64
 3   Name           891 non-null    object
 4   Sex            891 non-null    object
 5   Age            714 non-null    float64
 6   SibSp          891 non-null    int64
 7   Parch          891 non-null    int64
 8   Ticket         891 non-null    object
 9   Fare           891 non-null    float64
 10  Fare_with_Tax  891 non-null    float64
 11  Cabin          204 non-null    object
 12  Embarked       889 non-null    object
dtypes: float64(3), int64(5), object(5)
memory usage: 90.6+ KB